/*fuentes */

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

/*index y interfaz */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    gap: 10px;
    grid-template: 
    "header" 100px
    "main" auto
    "footer" 100px
    ;

}
html{
    height: 100%;
    width: 100%;
}
h1{
    color: #9f1000;
    font-family: 'Young Serif';
    font-size: 50px;
    padding: 15px;

}

h3{
    color: #9f1000;
    font-family: 'Young Serif' ;
}
div {
    display: block;
}
img {
    overflow: clip;
    border-style: none;
}
h2{
    font-family:  'Young Serif';

}
p{
    font-family: 'Gabarito';

}
body{
    background-color:#fccc00;
    min-height: 100%;
    margin: 0px;
}
.footerLista{
    list-style: none;
}
.grid-container > *{
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.header{
    grid-area: header;
    background-image: url(../imgs/headerFondo.jpg);

    color: black;
   padding: 1px;
    display: flex;
    min-height: 70px;
    align-items: center;
    margin-top: 0px;


}
.logo{
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: space-around;


}
.menuPrincipal{
    font-weight: 600;
    padding-right: 10px;
    color: black;
    justify-content: end;
    align-items: center;
   /* background-color: aqua;*/
   padding-top: 15px;
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   padding: 5px;
   margin: 5px;
}
.navBarMenuPrincipal{
    justify-content: end;
   /* background-color: #9f1000;*/
    width: 100%;
    height: 100%;
    align-items: center;
}
.menuPrincipal li a:hover{
    padding: 5.5px;
    color: white;

}
.menuLi{
    color:rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-top: 15px;
    margin: 2px;
    /*background-color: black;*/
}
a{
    text-decoration: none;
    
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color: black;
    color: white;
    font-family:  'Young Serif';
}



ul li a{
    color: rgb(221, 221, 221);
   
    
    background-color: #002a86;
    padding: 5px;
    margin-left: 1px;
    border-radius: 0.3rem;
    transition-delay: 0.1s;
    justify-content: center;
    
}
.videoIndex{
    
    width: auto;
    height: auto;
    border: 1rem;
    border-color: black;

}
.videoPresentacion{
    width: 60%;
    height: 80%;



}
.videoPresentacion2{
    width: 70%;
    height: 60%;
}
    
/*cocineros diapositiva */

.flex-container{
    margin: 40px;
    
   
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    margin: 10px;
}
.flex-item{
    flex-basis: 200px;
    flex-grow: 1;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;


    transition: transform 1s;
}

.flex1{
    background-color: aliceblue;
    
}
.flex2:hover{
    transform: scale(1.1);
}
.flex1:hover{
    transform: scale(1.1);
}
.flex3:hover{
    transform: scale(1.1);
}
.flex2{
    background-color: aliceblue;
}
.flex3{
    background-color: aliceblue;
}
.PresentacionPerImg{
    width: 50%;
}
.presentacionTitulo{
    font-size: 21px;
}
.presentacionParrafo{
    font-size: 18px;
}
.PresentacionPerImg, .presentacionTitulo, .presentacionParrafo{
    margin-bottom: 10px;
}

/*servicio*/
.servicio{
    min-width: 250px;
}
.menuServicio{
    color: white;
    font-family: 'Gabarito';
    background-color: white;
    list-style: none;
    padding: 15px;
    margin: 15px; 


    
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 250px;






    
   

}
.menuServicio li {
    padding: 10px;

    
}
.menuServicio li a:hover{
    color:white;
    padding: 6px;
    
}
.ejecutivo{
    color: black;
    background-color: white;
    margin: 15px;
    padding: 10px;
    min-width: 250px;
    flex-wrap: wrap;
}
.gerente{
    color: black;
    background-color: white;
    margin: 15px;
    padding: 10px;
    min-width: 250px;
    flex-wrap: wrap;

}
.cocinero{
    color: black;
    background-color: white;
    margin: 15px;
    padding: 10px;
    min-width: 250px;
    flex-wrap: wrap;
}
.camionero{
    color: black;
    background-color: white;
    margin: 15px;
    padding: 10px;
    min-width: 250px;
    flex-wrap: wrap;
}
.servicioSubtitulo{
    margin: 5px;
    padding: 15px;
    font-family: 'Gabarito';
    font-size: 40px;

}
.parrafoServicio{
    font-family: 'Young Serif';
    text-align: start;
    

}
.servicioLista{
    color: black;
    font-family: 'Young Serif';
    flex-wrap: wrap;
    margin-right: 10px;
    text-align: start;
  

    }
/*mas informacion*/
.masinfoTitulo{
    font-family:'Young Serif' ;
    color: #9f1000;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}
.cajaMasinfo{
    background-color: white;
    margin: 30px ;
    padding: 20px;
    color: #002a86; 
    font-family: 'Gabarito';
    text-align: left;
   border-radius: 10px;
   -webkit-animation:slide-in-tl .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-tl .5s cubic-bezier(.25,.46,.45,.94) both;
}
.cajaMasinfo2{
    background-color: white;
    margin: 30px ;
    padding: 20px;
    color: #002a86; 
    font-family: 'Gabarito';
    text-align: left;
   border-radius: 10px;
   -webkit-animation:slide-in-tl .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-tl .5s cubic-bezier(.25,.46,.45,.94) both;
   animation-delay: 1s;

}
.carousel {
    display: flex;
    height: auto;
    width: auto;
}
.slide{
    margin-top: 10px;
}
.slide img{
    height: 65vh;

}
/*contacto legal*/
.infoSaul{
    text-align: center;
    margin: 10px;
    padding: 10px;
    height: auto;
    width: auto;
   }
.saulParrafo{
 font-size: 18px;
 margin: 20px;
 display: flex;
padding: 10px; 
 background-color: #fff;
 }

/*Formulario */
.contenedorForm{
    background-color: white;
    color: #9f1000;
    padding: 30px;
    font-family:  'Gabarito';
    position: relative;
    margin: 30px;
    width: auto;
    height: auto;

}

/*media queries*/

@media screen and (max-width: 700px){
    .menuPrincipal{
        align-items:  center;
        justify-content: center;
    }
    .menuLi{
        padding: 5px;
        margin: 5px;
        padding-top: 10px;
    }
    .logo{
        display: none;
        
    }
    .ul li a{
        margin: 30px;
        padding: 10px;
        margin-top:1rem;
    }
    .grid-container{
        display: grid;
    gap: 10px;
    grid-template: 
    "header" 120px
    "main" auto
    "footer" 100px
    ;

    }

    
}

@media screen and (max-width: 359px){
   
    .menuLi{
        padding: 10px;
        margin: 15px;
        padding-top: 10px;
    }
    .menuPrincipal{
        display: flex;
        width: auto;
        height: auto;
        margin:40px;
        padding: 40px;
        padding-top: 10px;
        justify-content: center;
    }
    .header{
        display: flex;
        width: auto;
        height: auto;
    }
     .grid-container{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);

    } 
    .videoPresentacion{
        width: screen;
        height: screen;
    
    
    
    }
    .ul li a{
        margin: 10px;
    }
        
}
    
@media screen and(min-width: 768px){
    .menuServicio{
        flex-direction: row;
    }
}

/*ANIMISTA*/
.slide-in-tl{-webkit-animation:slide-in-tl .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-tl .5s cubic-bezier(.25,.46,.45,.94) both}

 @-webkit-keyframes slide-in-tl{0%{-webkit-transform:translateY(-1000px) translateX(-1000px);transform:translateY(-1000px) translateX(-1000px);opacity:0}100%{-webkit-transform:translateY(0) translateX(0);transform:translateY(0) translateX(0);opacity:1}}@keyframes slide-in-tl{0%{-webkit-transform:translateY(-1000px) translateX(-1000px);transform:translateY(-1000px) translateX(-1000px);opacity:0}100%{-webkit-transform:translateY(0) translateX(0);transform:translateY(0) translateX(0);opacity:1}}


