/*fuentes */

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

/*index y interfaz */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    gap: 10px;
    grid-template: 
    "header" 100px
    "main" auto
    "footer" 100px
    ;

}
html{
    height: 100%;
}
h1{
    color: black;
    font-family: 'Young Serif';

}
div {
    display: block;
}
img {
    overflow: clip;
    border-style: none;
}
h2{
    font-family:  'Young Serif';

}
p{
    font-family: 'Gabarito';

}
body{
    background-color:#fccc00;
    min-height: 100%;
    margin: 0;
}
.grid-container > *{
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.header{
    grid-area: header;
    background-image: url(../imgs/headerFondo.jpg);
    color: white;
   padding: 50px;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;


}
.logo{
    display: flex;
    align-items: center;
    margin-right: 10px;


}
.menuPrincipal{
    font-weight: 600;
    padding-right: 10px;
}
.menuPrincipal li a:hover{
    color: blue;
}
a{
    text-decoration: none;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color: black;
    color: white;
    font-family:  'Young Serif';
}

h1{
    color: black;
    font-family: 'Young Serif';

}
ul li{
    color: white;
    list-style: none;
    display: inline;
    margin-right: 10px;
}
ul li a{
    color: white;
}
.videoIndex{
    
    width: auto;
    height: auto;
    border: 8rem;
    border-color: black;

}
.videoPresentacion{
    width: 50%;
    height: 70%;



}
    
/*cocineros diapositiva */

.flex-container{
    margin: 40px;
    
   
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}
.flex-item{
    flex-basis: 200px;
    flex-grow: 1;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}
.flex1{
    background-color: aliceblue;
    
}
.flex2{
    background-color: aliceblue;
}
.flex3{
    background-color: aliceblue;
}
.PresentacionPerImg{
    width: 50%;
}
.presentacionTitulo{
    font-size: 21px;
}
.presentacionParrafo{
    font-size: 18px;
}
.PresentacionPerImg, .presentacionTitulo, .presentacionParrafo{
    margin-bottom: 10px;
}

/*servicio*/
.menuServicio{
    background-color: black;
    list-style: none;
    padding: 25px;
    margin: 10px;
    display: flex;
    font-family: 'Gabarito'

}

/*mas informacion*/
.container {
    margin: 0 auto;
    padding: 0 1rem;
    width: 56rem;
}    
.tituloMasInfo{
    margin: 2rem;
    color: #9f1000;
    font-size: 2.8em;
    line-height: 1;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.infoPadre{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.infoPadre .columna{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.columna{
    width: 26rem;
    margin: 10px;
    padding: 15px;
}

.infoPadre .columna first-child div:nth-child(1){
    margin: 0 0 2rem;
}
.cajaInformacion{
    background: #fff;
    color: #002a86;
    font-size: 1.2em;
    line-height: 1.6em;
    padding: 2rem;
    position: relative;
    font-family:  'Gabarito';
}
/*contacto legal*/
.infoSaul{
    text-align: center;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
   }
.saulParrafo{
 font-size: 18px;
 margin: 20px;
 display: block;
padding: 10px; 
 background-color: #fff;
 }

/*Formulario */
.contenedorForm{
    background-color: black;
    color: aqua;
    padding: 30px;
    font-family:  'Gabarito';
    position: relative;
    margin: 30px;
    width: auto;
    height: auto;

}

/*media queries*/

@media screen and (max-width: 700px){
    .logo{
        display: none;
        
    }
}

@media screen and (max-width: 375px){
   
    .menuPrincipal{
        display: flex;
        width: auto;
        height: auto;
        margin:40px;
        padding: 40px;
    }
    .header{
        display: flex;
        width: auto;
        height: auto;
    }
     .grid-container{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);

    } 
    .videoPresentacion{
        width: screen;
        height: screen;
    
    
    
    }
        
}
    



