.infoSaul{
    text-align: center;
    margin: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    .subSaul{
        color:$secondaryColor;
        margin: 10px;
    }

    .saulParrafo{
        font-size: 18px;
        margin: 20px;
        display: flex;
       padding: 10px; 
        background-color: #fff;
    }
    .saulParrafo2{
        font-size: 18px;
        margin: 20px;
        display: flex;
       padding: 10px; 
        background-color: #fff;
        -webkit-animation:slide-in-tl .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-tl .5s cubic-bezier(.25,.46,.45,.94) both;
        animation-delay: 2s;
    }    

     
        
   }