.contenedorForm{
    background-color: white;
    color: $secondaryColor;
    padding: 30px;
    font-family: $fontGabarito;
    position: relative;
    margin: 30px;
    width: auto;
    height: auto;

}